/MYMETA.*
/Makefile
/Makefile.old
/blib
/cover_db/
/local/
/log4perl_local.conf
/metacpan_server_local.*
/metacpan_server_testing_local.*
/perltidy.LOG
/pm_to_blib
/var
/bin/omegasort
/bin/precious
/bin/ubi
/etc/metacpan_local.pl
/t/var/darkpan/
/t/var/log/
/t/var/tmp/
*.komodoproject
*.kpf
*.sqlite*
*.sw*
.DS_Store
.tidyall.d
